<div class="banner">
  <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto text-right">
          <strong>Phasellus fermentum sem</strong>
          <span>Donec scelerisque vel nunc bibendum aliquam morbi. </span>
          <div class="btn btn-lg btn-banner mt-3">
            Interdum et
          </div>
        </div>
      </div>
  </div>
</div>