<div class="footer">
  <div class="container mt-4">
    <div class="row">
      <ul class="col-md-2">
        <li class="footer-title">Consectetur</li>
        <li>Tincidunt </li>
        <li>Curabitur </li>
        <li>Malesuada </li>
        <li>Molestie </li>
      </ul>
      <ul class="col-md-2">
        <li class="footer-title">Consectetur</li>
        <li>Tincidunt </li>
        <li>Curabitur </li>
        <li>Malesuada </li>
        <li>Molestie </li>
      </ul>
      <ul class="col-md-2">
        <li class="footer-title">Consectetur</li>
        <li>Tincidunt </li>
        <li>Curabitur </li>
        <li>Malesuada </li>
        <li>Molestie </li>
      </ul>
      <div class="footer-logo col-md-6 d-flex align-items-end justify-content-end">
        © Todos os direitos reservados <br>
        <img src="/images/logo.png" alt="Logo posts" width="50" class="ml-3">
      </div>
    </div>
  </div>
</div>